#preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000fc; /* Black background for dramatic effect */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    transition: opacity 1s ease-out;
}

.loading-bar {
    width: 150px;
    height: 40px;
    background-color: #7582ff; /* Bugatti-like color */
    border-radius: 20px 10px 10px 20px / 50% 50% 50% 50%;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 20px #7582ff;
    animation: move-anime 2s infinite ease-out; 
}

.loading-bar::before { /* Simple "window" effect */
    content: '';
    position: absolute;
    width: 30%;
    height: 80%;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 5px;
    top: 10%;
    left: 40%;
    transform: skewX(-20deg);
}

.loading-text {
    margin-top: 20px;
    font-size: 1.5em;
    color: var(--color-accent-blue);
    font-family: var(--font-heading);
    animation: fadeInOut 2s infinite alternate;
}

@keyframes move-anime {
    0% { transform: translateX(-90vw) scaleX(1); }
    50% { transform: translateX(10vw) scaleX(1); }
    100% { transform: translateX(150vw) scaleX(-1); }
}

@keyframes fadeInOut {
    0% { opacity: 0.5; }
    100% { opacity: 1; }
}